{% extends 'base.html.twig' %}
 
{% block title %}Modifier Produit{% endblock %}
 
{% block body %}
<div class="formadd">
<h1>Modifier Produit</h1>
 
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}
    
    <a href="{{ path('produit') }}">Retour à la liste</a>
</div>
{% endblock %}