{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div>
    <button id="btn-new" onclick="location.href='{{ path('client_new') }}'">Ajouter</button>
    <h1>Liste des clients</h1>
    
    <div>
        <input id="inputClient" type="text" placeholder="Rechercher un client">
        <table id="tableClient">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Adresse</th>
                    <th>Stock</th>
                    <th>CB</th>
                    <th></th>
                </tr>
            </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                {% if client.estBoutique == true %}
                    <td>Boutique</td>
                {% else %}
                    <td>Restaurant</td>
                {% endif %}
                <td>{{ client.nom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.stock }}</td>
                <td>{{ client.cb }}</td>
                <td>
                    <button onclick="location.href='{{ path('client_edit', {id: client.id}) }}'">Modifier</a>
                    <button onclick="deleteClient({{ client.id }})">Supprimer</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
<div>
{% endblock %}
{% block javascripts %}
    <!--fonction qui effectue une recherche/filtrage en temps réel sur un tableau HTML-->
    <script>
        $(document).ready(function(){
            $("#inputClient").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tableClient tbody tr").filter(function() {
                    $(this).toggle($(Array.from(this.children).slice(0,5)).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
		// post delete request
        function deleteClient(id) {
            var url = "{{ path('client_delete', {id: 0}) }}";
            url = url.replace("0", id);
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", url, true); // Change "POST" to "DELETE"
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
            xhr.onload = function () {
                if (xhr.status == 200) {
                    console.log(xhr.responseText);
                    location.reload(); // Reload the page to reflect the changes
                }
            }
        }
	</script>
{% endblock %}