{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div>
    <div>
        <div>
            <div>
                <h1>Clients</h1>
            </div>
            <div class="text-right">
                <a href="{{ path('client_new') }}">Create new</a>
            </div>
        </div>
    </div>
    <div>
            <input id="inputClient" type="text" placeholder="Rechercher un client">
            <table id="tableClient">
            <thead>
            <tr>
                <th>Nom</th>
                <th>mail</th>
                <th>adresse</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
{% block javascripts %}
    <!--fonction qui effectue une recherche/filtrage en temps réel sur un tableau HTML-->
    <script>
        $(document).ready(function(){
            $("#inputClient").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tableClient tbody tr").filter(function() {
                    $(this).toggle($(Array.from(this.children).slice(0,5)).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}