<img class="img-laPerle" src="{{ asset('laPerle.png') }}" alt="La Perle" height="100px">
<nav>
    <ul>
        <li><a href="{{ path('accueil') }}">Accueil</a></li>
        <li><a href="{{ path('client_index') }}">Clients</a></li>
        <li><a href="{{ path('produit') }}">Produits</a></li>
        <li><a href="{{ path('commande') }}">Commande</a></li>
    </ul>
</nav>